{% load static %}
<section class="hero-section text-center">
    <div class="hero-content">
        <h1 class="hero-title">Book Your Tickets For Movies</h1>
        <p class="hero-subtitle lead mx-auto">
            Experience the magic of cinema. Find the latest movies, check showtimes, and book your seats instantly.
        </p>
        <button class="btn btn-primary btn-lg mt-3"><a href ="/#now-showing-section">Book Ticket</a></button>
    </div>
    <div class="hero-theatre-fade">
        <img src="{% static 'images/cinema.jpg' %}" alt="Theatre seats" class="img-fluid" />
    </div>
</section>